lazer.h
*.a
*.so

scripts/lnp-codegen.sage.py
scripts/abdlop-codegen.sage.py
scripts/lnp-quad-codegen.sage.py
scripts/lnp-quad-eval-codegen.sage.py
scripts/lnp-tbox-codegen.sage.py
scripts/moduli.sage.py
scripts/lin-codegen.sage.py

python/**/__pycache__/
python/**/*.c
python/**/*.so
python/**/*.o

src/*.o

tests/*.o
tests/*.dSYM
tests/lazer-test
tests/bytes-test
tests/shake128-test
tests/rng-test
tests/int-test
tests/intmat-test
tests/intvec-test
tests/polyring-test
tests/poly-test
tests/polyvec-test
tests/polymat-test
tests/spolymat-test
tests/quad-test
tests/dcompress-test
tests/sage-test
tests/sage-test.sage
tests/sage-test.sage.py
tests/valgrind-test
tests/coder-test
tests/urandom-test
tests/brandom-test
tests/grandom-test
tests/rejection-test
tests/abdlop-test
tests/lnp-quad-test
tests/lnp-quad-many-test
tests/lnp-quad-eval-test
tests/lnp-tbox-test

demos/blindsig/blindsig-demo
demos/kyber1024/kyber124-demo

bench/run-bench

third_party/Falcon-impl-20211101/
third_party/hexl-development/

docs/build/*

python/_cstruc_ffi.c
